<div class="card">
  <div class="loadingImage">
    @if(championName){
    <img src="{{ ImageUrl }}" alt="{{ championName }}" />
    }@else {
    <h1>no image</h1>
    }
  </div>

  <div class="playerName">
    <p>{{ participant.riotId }}</p>
  </div>


<div class="spells">
  @for (item of Userspells; track $index) {
    
    <img
      src="https://ddragon.leagueoflegends.com/cdn/14.15.1/img/spell/{{
        item
      }}.png"
      alt=""
    class="spell"/>
    }
</div>


  <div class="icon">
    <img
    src="https://ddragon.leagueoflegends.com/cdn/14.15.1/img/profileicon/{{participant.profileIconId}}.png"
    alt=""
  class="spell"/>
  </div>


</div>
